<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><%= @actor.first_name %>&nbsp;<%= @actor.last_name %></h1>
    </div>
  </section>

    <div class="container">
      <div class="row">
            <div class="col-md-12">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text"><%= image_tag(@actor.image.url(:medium)) %></p>
                  <p class="card-text"><h1><%= @actor.first_name %>&nbsp;<%= @actor.last_name %></h1></p>
                  <p class="card-text"><strong>Date of Birth:</strong>&nbsp;&nbsp;<%= @actor.dob.strftime('%m/%d/%Y') rescue "" %></p>
                </div>

                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th scope="row">Biography</th>
                      <td>
                        <div class="text-left"><%= @actor.bio %></div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Additional Information</th>
                      <td>
                        <div class="text-left"><%= @actor.movies %></div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Profession</th>
                      <td>
                        <div class="text-left"><%= @actor.image_name %></div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <%= link_to 'Edit', edit_actor_path(@actor), :class=>"btn btn-sm btn-outline-primary btn-lg" %>
                  <%= link_to 'Back', actors_path(@actor), :class=>"btn btn-sm btn-outline-secondary btn-lg" %>
                </div>
              </div>
            </div>
      </div>

    </div>


</main>
